table {
  border: solid 2px black;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: lightgray;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
