/*Style retro*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Oranienbaum", serif;
}

main {
  text-align: center;
}

h3 {
  color: black;
}

form {
  border: solid 3px black;
  background-color: gray;
  margin-left: 500px;
  margin-right: 500px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  row-gap: 10px;
  padding: 5px;
}

select {
  border: solid 2px black;
  background-color: white;
  margin-left: 45px;
  margin-right: 45px;
  text-align: center;
  font-family: "Oranienbaum", serif;
  font-size: 15px;
  padding: 2px;
}

option {
  background-color: white;
}

select:hover {
  background-color: lightgray;
  cursor: pointer;
}

input {
  background-color: white;
  border-color: black;
  border-radius: 0px;
  padding: 4px;
  font-family: "Oranienbaum", serif;
  font-size: 15px;
}

input:hover {
  cursor: pointer;
  background-color: lightgray;
}
